@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  
  --radius-3xl: 1.5rem;
  
  --spacing-gallery: 12rem;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  *, ::after, ::before {
    border-color: var(--color-zinc-800);
  }

  :root {
    --background: #09090b;
    --foreground: #fafafa;
  }

  body {
    background-color: #09090b;
    color: #fafafa;
    @apply antialiased;
  }

  ::selection {
    background-color: white;
    color: black;
  }
}

@layer utilities {
  .outline-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
    color: transparent;
  }

  .stealth-glow {
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
  }
}
